<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.studyplatform.dao.UpdateStudyMapper">

    <!--    发布内容和时间-->
    <insert id="updateStudyProduction" parameterType="com.study.studyplatform.pojo.StudyPlat">
        insert studyplat
        set userid=#{userid},studyinfo=#{studyinfo},studytime=#{studytime},images=#{images},studyhits=#{studyhits},videos=#{videos},files=#{files},filename=#{filename},videoname=#{videoname}
    </insert>

    <!--    点击量 +1-->
    <update id="addStudyHits" parameterType="map">
        update studyplat
        set studyhits=#{studyhits}
        where studyplatid=#{studyplatid}
    </update>

    <insert id="updateReplyStudyInfo" parameterType="com.study.studyplatform.pojo.Reply">
        insert reply
        set userid=#{userid},replyinfo=#{replyinfo},replytime=#{replytime},studyplatid=#{studyplatid}
    </insert>

</mapper>